<article class="bcls-article">
  <h1>Codeurs pris en charge pour les événements en direct</h1> <summary>Cette rubrique a pour but de fournir des instructions pour les paramètres de l'encodeur matériel lors de la réalisation d'un événement de diffusion en direct. Pour une liste de toutes les options disponibles auprès de Brightcove pour diffuser des vidéos en streaming en direct, consultez {% if site.product_short == Video Cloud-fr/ ou site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %} Diffuser<a href="/live/get-started/delivering-live-streams.html"> des flux en direct </a> . {% endif %} {% if site.product_short == Live-fr/ %} Diffusion<a href="/get-started/delivering-live-streams.html"> de flux en direct</a>. {% endif %} </summary> <section class="bcls-section">
    <p>Voici une liste d'encodeurs généralement reconnus pour fonctionner avec Brightcove Live. <strong><em>D'autres encodeurs peuvent également fonctionner</em></strong>&nbsp;; cette liste contient les encodeurs que nous avons spécifiquement testés.</p> <aside class="bcls-aside bcls-aside--information">Notez également que<em> pris en charge</em> ne signifie pas que toutes les fonctionnalités sont prises en charge. Les capacités spécifiques (telles que l'envoi de points de repère) varient selon les différents encodeurs.</aside>
    <ul>
      <li><a href="http://www.xsplit.com/">Split</a></li>
      <li><a href="http://obsproject.com/">OBS</a></li>
      <li><a href="http://www.telestream.net/wirecast/overview.htm">Wirecast</a></li>
      <li><a href="http://www.capellasystems.net/products/cambria-live/">Cambria en direct</a></li>
      <li><a href="https://liveshell.cerevo.com/">Liveshell</a></li>
      <li><a href="https://www.elemental.com/products/aws-elemental-appliances-software/#elemental-live">AWS Elemental Live</a></li>
      <li><a href="https://www.haivision.com">Haivision</a></li>
      <li><a href="http://www.liveu.tv/lu200">LiveU</a></li>
      <li><a href="http://www.matrox.com/video/en/products/monarch_hd/">Matrox</a></li>
      <li><a href="https://www.newtek.com">NewTek</a></li>
      <li><a href="https://www.teradek.com">Teradek</a></li>
    </ul>   </section></article>