<article class="bcls-article">
  <h1>Étape par étape: Utilisation du module Live avec Open Broadcaster Software (OBS)</h1> <summary>Le but de ce Quick Start est de vous montrer comment utiliser le module Live et Open Broadcaster Software (OBS) pour diffuser un événement en direct.</summary> <section class="bcls-section">
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="5810369213001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% if site.product_short == Video Cloud-fr/ ou site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
    <p>Pour en savoir plus sur toutes les fonctionnalités disponibles dans le module Live, consultez<a href="/live/live-module/creating-and-managing-live-events-using-live-module.html"> Création et gestion d'événements en direct à l'aide du module Live</a>. Pour une série de bonnes pratiques et de recommandations visant à garantir une expérience de diffusion en direct stable et de haute qualité, consultez les directives et bonnes pratiques du module<a href="/live/get-started/live-module-guidelines-and-best-practices.html"> Live</a>. Pour obtenir la liste de toutes les options disponibles auprès de Brightcove pour diffuser des vidéos en streaming en direct, consultez<a href="/live/get-started/delivering-live-streams.html"> Diffusion de flux en direct</a>.</p>
      {% endif %} {% if site.product_short == Live-fr/ %}
          <p>Pour en savoir plus sur toutes les fonctionnalités disponibles dans le module Live, consultez<a href="/live-module/creating-and-managing-live-events-using-live-module.html"> Création et gestion d'événements en direct à l'aide du module Live</a>. Pour une série de bonnes pratiques et de recommandations visant à garantir une expérience de diffusion en direct stable et de haute qualité, consultez les directives et bonnes pratiques du module<a href="/get-started/live-module-guidelines-and-best-practices.html"> Live</a>. Pour obtenir la liste de toutes les options disponibles auprès de Brightcove pour diffuser des vidéos en streaming en direct, consultez<a href="/get-started/delivering-live-streams.html"> Diffusion de flux en direct</a>.</p>
      {% endif %}<aside class="bcls-aside bcls-aside--information"> Remarques:
      <ul>
        <li>Pour obtenir une version de ce document qui utilise l'encodeur Wirecast Telestream, voir Étape<a href="step-step-using-live-module-telestream-wirecast.html"> par étape: Utilisation du module Live avec Telestream Wirecast</a></li>
        <li>La prise en charge du streaming en direct est disponible uniquement pour les éditeurs</li>
      </ul> </aside>
    <p>Après avoir terminé ce Quick Start, vous devriez être en mesure de:</p>
    <ul>
      <li>Utilisez le module Live pour créer un événement en direct</li>
      <li>Configurez votre encodeur pour un événement en direct</li>
      <li>Découpez votre événement et enregistrez-le en tant que ressource VOD sur votre compte</li>
    </ul>
    <p>Ce Quick Start vous aidera à diffuser un événement en direct sur différents appareils à l'aide d'Open Broadcaster Software (OBS) Studio. OBS est un logiciel open source pour l'enregistrement vidéo et la diffusion en direct et peut être<a href="https://obsproject.com"> téléchargé ici</a>. D'autres encodeurs peuvent également être utilisés avec le module Live.</p>  </section><section class="bcls-section">
    <h2 id="audience">Public</h2>
    <p>Tout éditeur ayant besoin de diffuser un événement de diffusion en direct à l'aide du module Live.</p>  </section><section class="bcls-section">
    <h2 id="prereq">Prérequis</h2>
    <ul>
      <li>Un compte Enterprise avec accès au module Live</li>
      <li>Une caméra pour diffuser l'événement</li>
      <li>Vous devez disposer de votre propre logiciel d'encodage&nbsp;; ce Quick Start utilise<a href="https://obsproject.com"> OBS Studio</a> qui peut être téléchargé gratuitement</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="limitations">Limitations</h2>
    <ul>
      <li>Votre encodeur doit émettre un flux RTMP ou SRT</li>
      <li>Les diffusions en direct connaîtront un délai de 20 à 30 secondes</li>
      <li>La diffusion en continu doit commencer dans les 30 minutes suivant le début de l'événement (paramètre de compte par défaut)</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="steps">Étapes à suivre pour diffuser un événement en direct</h2>
    <p>Pour diffuser votre événement en direct à l'aide du module Live, vous devez effectuer les tâches suivantes:</p>
    <ul>
      <li><a href="#newevent">Créer un nouvel événement à l'aide du module Live</a></li>
      <li><a href="#encoder">Configuration de votre encodeur</a></li>
      <li><a href="#publish">Publiez la diffusion en direct</a></li>
      <li><a href="#clip">Créez un extrait de l'événement en direct</a></li>
    </ul>  </section><section class="bcls-section">
    <h2 id="newevent">Créer un nouvel événement en direct</h2>
    <ol class="bcls-tasklist-restart">
      <li>Connectez-vous à Studio.<strong></strong></li>
      <li>Ouvrez le<strong> module</strong> Live.</li>
      <li>Cliquez sur le<strong> bouton</strong> Créer un événement pour créer un nouvel événement.</li>
      <li>Saisissez un nom<strong> d'événement</strong>.</li>
      <li>Saisissez quelques<strong> balises</strong> pour l'événement.</li>
      <li>Si votre compte a été configuré avec des champs personnalisés obligatoires, assurez-vous que des valeurs sont attribuées aux champs personnalisés.</li>
      <li>Sélectionnez un profil<strong> d'ingestion</strong> en direct dans la liste déroulante. Le profil d'ingestion en direct contrôle le nombre et la qualité des rendus en direct créés.</li>
      <li>Sélectionnez<strong> Convertir l'événement en vidéo lorsque vous avez terminé</strong>. Cela enregistrera l'événement sous forme de vidéo dans le module Médias. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-create-live-event.png" /></figure>
      </li>
      <li>Dans la<strong> section Options de</strong> diffusion, sélectionnez la<strong> région la</strong> plus proche de votre emplacement.</li>
      <li>Dans la<strong> section Options</strong> avancées, définissez le temps de<strong> reconnexion</strong> sur 10 minutes. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-adv-options.png" /></figure> <aside class="bcls-aside bcls-aside--information">Remarque: OBS prend en charge le protocole SRT et peut être sélectionné à l'aide de la<strong> section Format d'</strong>entrée du<strong> menu Options</strong> avancées.</aside>
      </li>
      <li>Cliquez sur<strong> Créer un événement</strong>. Le module Live renvoie un point de terminaison de<strong> flux (URL RTMP)</strong> et un nom de<strong> flux</strong>. Ces valeurs seront utilisées dans les paramètres de l'encodeur. <aside class="bcls-aside bcls-aside--information">Remarque: Si vous avez sélectionné le protocole SRT pour l'événement Live, celui-ci sera disponible dans OBS en choisissant Personnalisé-fr/ sous Stream settings Service, puis en saisissant votre<code translate="No"> chemin</code> srt://dans la zone Serveur.</aside> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-encoder-settings.png" /></figure>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="encoder">Configuration de votre encodeur</h2>
    <p>Dans cette section, nous allons configurer et utiliser l'encodeur OBS Studio pour prendre en charge un événement de diffusion en direct. Le logiciel OBS Studio est une application de bureau qui capture les entrées de votre caméra et produit un flux qui peut être diffusé par un CDN. Notez qu'il existe des solutions d'encodage matérielles et logicielles qui peuvent être mieux adaptées à la diffusion de votre événement de diffusion en direct. Vous pouvez télécharger le logiciel OBS Studio<a href="https://obsproject.com"> ici</a>.</p> <aside class="bcls-aside bcls-aside--information"> Remarques:
      <ul>
        <li> Le logiciel OBS doit être installé et une caméra connectée à votre ordinateur avant de poursuivre.</li>
        <li>Cet exemple utilise un appareil photo Canon connecté à un ordinateur portable à l'aide du logiciel Canon EOS Webcam Utility.</li>
        <li>OBS offre la possibilité d'enregistrer une copie locale du flux. En choisissant cette option, vous aurez une copie locale du flux à partir de laquelle vous pourrez créer des clips au cas où des problèmes de réseau se produiraient pendant la diffusion de l'événement. Pour plus d'informations sur la façon d'enregistrer un fichier local, consultez la documentation<a href="https://obsproject.com/docs/index.html"> OBS</a>.</li>
      </ul> </aside>
    <ol class="bcls-tasklist-restart">
      <li>Ouvrez OBS Studio.</li>
      <li>Dans la<strong> section</strong> Sources, cliquez sur<strong> +</strong> pour ajouter une nouvelle source. Sélectionnez une<strong> source</strong> dans la liste. Ce Quick Start utilise une caméra pour la capture vidéo, de sorte que le périphérique de capture<strong> vidéo</strong> est sélectionné. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-add-source.png" /></figure>
      </li>
      <li>Entrez un nom pour la nouvelle source et cliquez sur<strong> OK</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-source-name.png" /></figure>
      </li>
      <li>Sélectionnez votre appareil photo dans la<strong> liste des</strong> appareils. Un aperçu doit apparaître dans la boîte de dialogue des propriétés. Cliquez sur<strong> OK</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-source-preview.png" /></figure>
      </li>
      <li>Dans la<strong> section</strong> Contrôles, cliquez sur<strong> Paramètres</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-settings.png" /></figure>
      </li>
      <li>Cliquez sur<strong> Stream</strong> dans la partie gauche de la boîte de dialogue Paramètres.</li>
      <li>Pour Stream<strong> Service,</strong> sélectionnez<strong> Custom... </strong>.</li>
      <li>Pour le<strong> serveur</strong>, utilisez l'URL du<strong> flux</strong> fournie par le module Live.</li>
      <li>Pour la<strong> Stream Key</strong>, utilisez<strong> alive</strong>.</li>
      <li>Cliquez sur<strong> OK</strong> pour enregistrer les paramètres.</li>
      <li>Dans la<strong> section</strong> Contrôles, cliquez sur<strong> Démarrer la diffusion en continu</strong>. La diffusion en direct devrait commencer. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-live-stream.png" /></figure>
      </li>
    </ol> <aside class="bcls-aside bcls-aside--information">Remarque: Le traitement de vos flux prendra environ une minute.</aside> </section> <section class="bcls-section">
    <h2 id="publish">Publier l'événement en direct</h2>
    <p>Pour générer le code d'intégration de l'événement en direct, procédez comme suit:</p>
    <ol class="bcls-tasklist-restart">
      <li>Revenez au module Live.</li>
      <li>Si la page Control Room de l'événement n'est pas affichée, cliquez sur l'<strong>onglet</strong> Live pour afficher la liste des événements en direct. Cliquez sur le nom de l'événement pour ouvrir la page Control Room.</li>
      <li>Vérifiez que vous pouvez voir la diffusion en direct. Notez qu'après le démarrage de l'encodeur, la diffusion en direct peut prendre une minute. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-control-room.png" /></figure>
      </li>
      <li>Pour publier l'événement en direct, cliquez sur<strong> Publier et intégrer</strong> dans le volet de navigation de gauche.</li>
      <li>Sélectionnez un lecteur
 à l'aide de la <strong></strong>liste déroulante Available Player.</li>
      <li>Cliquez sur l'URL du<strong> lecteur</strong> pour visionner la diffusion en direct. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-publish.png" /></figure>
      </li>
      <li>Lorsque vous avez terminé la diffusion en direct, cliquez sur le<strong> bouton</strong> Arrêter ce flux sur la page Control Room. Revenez également dans OBS Studio et cliquez sur le<strong> bouton</strong> Arrêter la diffusion en continu pour arrêter la diffusion en continu de l'encodeur. <aside class="bcls-aside bcls-aside--information">Remarque: Il est important de vous assurer de fermer/arrêter votre encodeur lorsque la diffusion en direct est terminée. Le fait de laisser une connexion ouverte entre n'importe quel encodeur et Brightcove, même lorsqu'aucune donnée n'est envoyée, peut entraîner des frais de connexion imprévus.</aside>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="clip">Création d'un clip</h2>
    <p>Le module Live permet de créer des clips vidéo à partir d'événements terminés. Des clips peuvent également être créés pendant qu'un événement en direct est en cours. Plusieurs raisons peuvent vous inciter à créer un clip:</p>
    <ul>
      <li>Pour créer un court clip d'accroche pouvant être publié sur les réseaux sociaux</li>
      <li>Pour limiter la longueur d'une vidéo que vous souhaitez publier (la plupart des plateformes limitent la longueur des vidéos)</li>
      <li>Vous avez constaté que les vidéos plus courtes sont plus performantes sur les réseaux sociaux</li>
    </ul>
    <p>Les clips ne peuvent être créés que dans les 7 jours suivant la fin de l'événement. Ensuite, le<strong> bouton</strong> Créer un clip sera désactivé. Si l'événement dure plus de 24 heures, seules les dernières 24 heures peuvent être découpées.</p>
{% if site.product_short == Video Cloud-fr/ ou site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}<aside class="bcls-aside bcls-aside--information"> Remarque: Pour plus de détails sur l'utilisation de l'interface de découpage, voir<a href="/live/live-module/creating-video-clip-using-live-module.html"> Création d'un clip vidéo à l'aide du module Live</a>. </aside>{% endif %} {% if site.product_short == Live-fr/ %}<aside class="bcls-aside bcls-aside--information"> Remarque: Pour plus de détails sur l'utilisation de l'interface de découpage, voir<a href="/live-module/creating-video-clip-using-live-module.html"> Création d'un clip vidéo à l'aide du module Live</a>. </aside>{% endif %}
    <p>Pour créer un clip, procédez comme suit:</p>
    <ol class="bcls-tasklist-restart">
      <li>Revenez au module Live.</li>
      <li>Cliquez sur l'<strong>onglet</strong> Terminé.</li>
      <li>Localisez l'événement et cliquez sur son nom pour ouvrir la Control Room.</li>
      <li>Dans le volet de navigation de gauche, cliquez sur<strong> Créer un clip</strong>. L'éditeur d'écrêtage s'ouvre.</li>
      <li>Cliquez et faites glisser les poignées de découpe sur la chronologie de la mise au point pour définir les points de départ et de fin du clip. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-clip-selected.png" /></figure>
      </li>
      <li>Cliquez sur<strong> Aperçu du clip</strong> pour prévisualiser le clip. Les points de départ et d'arrivée peuvent être ajustés selon les besoins.</li>
      <li>Cliquez sur<strong> Enregistrer</strong>.</li>
      <li>Entrez un nom de<strong> clip</strong> et d'autres valeurs de métadonnées. Tous les champs obligatoires pour le compte apparaîtront également et des valeurs doivent être attribuées. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-clip-save.png" /></figure>
      </li>
      <li>Cliquez sur<strong> Créer un clip</strong>. Le processus d'ingestion commencera et le clip sera enregistré sur votre compte.</li>
      <li>Les clips apparaîtront sous l'éditeur de clips. Cliquez sur<strong> Publier sur les réseaux sociaux</strong> pour publier le clip sur l'une de vos destinations sociales à l'aide de Brightcove Social. Pour plus d'informations sur la publication de vidéos à l'aide du module Social, consultez {% if site.product_short == Video Cloud-fr/ ou site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}<a href="/social/publishing-videos-social-media-platforms.html"> Publier des vidéos sur les plateformes de réseaux sociaux</a>. {% endif %} {% if site.product_short == Live-fr/ %}<a href="https://studio.support.brightcove.com/social/publishing-videos-social-media-platforms.html"> Publier des vidéos sur les plateformes de réseaux sociaux</a>. {% endif %}
        </li>
    </ol>
    <p>Des clips apparaîtront également dans la Control Room pour l'événement.</p> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-clips-control-room.png" /></figure> <aside class="bcls-aside bcls-aside--information">Remarque: Vous pouvez cliquer plusieurs fois sur<strong> le bouton</strong> Créer un clip pour créer plusieurs clips de votre diffusion. Chaque clip est enregistré en tant que ressource VOD distincte dans le module Médias.</aside> </section> <section class="bcls-section">
    <h2 id="troubleshoot">Résolution des problèmes de diffusion en direct</h2>
    <p>Si vous avez besoin d'une aide supplémentaire pour que votre événement en direct fonctionne, vous pouvez nous<a href="https://supportportal.brightcove.com/"> contacter</a>. Pour vous assurer d'obtenir une réponse la plus rapide possible, vous trouverez ci-dessous une liste de l'assistance dont vous aurez besoin pour résoudre le problème.</p>
    <ul>
      <li>Les symptômes spécifiques du flux. Par exemple, est-ce qu'il ne joue pas du tout ou est-ce qu'il bégaie ou gèle&nbsp;?</li>
      <li>Si ce flux fonctionnait correctement par le passé</li>
      <li>L'URL du point d'entrée que vous utilisez dans votre encodeur</li>
      <li>Le logiciel et le matériel d'encodage que vous utilisez</li>
      <li>L'URL du lecteur sur lequel vous avez publié l'événement en direct</li>
      <li>L'identifiant vidéo de votre actif en direct</li>
      <li>Les résultats d'un trace-route de votre encodeur vers l'hôte du point de publication</li>
    </ul>   </section></article>